 /* logo */
        .skin-blue .main-header .logo {
                              background-color: #33666C;
                              }

        /* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: #33666C;
                              }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #33666C;
                              }

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #33666C;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color:#33666C;
                              }

        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color:#cccccc;
                              color: #000000;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #d3ffce;
                              }
        /* toggle button when hovered  */
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #ff69b4;
         }

               .content-wrapper, .right-side {
                         background-color: #ffffff;
                            }

            .content-wrapper, .left-side {
                         background-color: #ffffff;
            }

/* change the sliver and the color of the selected tab, */
.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: transparent;
     border-color: transparent;
}
.nav-tabs-custom .nav-tabs li.active {
     border-top-color: #FFF;
}


body > .content-wrapper,
             .left-side {background-color: #ffffff;
                         }
